*{
    padding: 0;
    margin: 0;
}

li > a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}

header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 150px;
    height: 100%;
}

.logo button{
    border: none;
    background-color: #fff;
}

.logo button:nth-child(1){
    padding-left: 20px;
}
.logo button:nth-child(2){
    padding-left: 10px;
    font-size: 24px;
}

nav{
    width: 800px;
    height: 100%;
    display: flex;
}

nav > ul{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
}

nav > ul > li{
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: gray;
    cursor: pointer;
}

nav > ul > li:hover{
    color: #222;
    transition: all 0.5s;
}

.form-btn{
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.login, .join, .logout, .message, .member{
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    background-color: #fff;
    color: gray;
    font-weight: bold;
    text-align: center;
}

.login:hover, .join:hover, .logout:hover, .message:hover, .member:hover{
    transition: all 0.5s;
    color: black;
}

.line{
    width: 1.5px;
    height: 20px;
    background-color: gray;
}

.content{
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}

tr > th, tr > td{
    height: 40px;
    border: 1px solid black;
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;
    text-align: center;
}

th{
    background-color: #eee;
}

.createTR input[type='text'], .updateTR input[type='text']{
    width: 95%;
    height: 90%;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid black;
}

.createTR input[type='submit']{
    width: 100px;
    height: 40px;
    border: none;
}

.update_submit, .delete_submit{
    width: 100px;
    height: 40px;
    border: none;
}

.calender{
    margin: auto;
    width: 500px;
}

.calender th, .calender td{
    height: 60px;
    font-size: 22px;
}

.calender th:hover, .calender td:hover{
    background-color: lightgoldenrodyellow;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
}

footer p{
    padding-left: 20px;
    line-height: 49px;
}