*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
}

.logo{
    width: 100px;
    height: 100%;
}

.logo button{
    border: none;
    background-color: #fff;
}

.logo button:nth-child(1){
    padding-left: 20px;
}
.logo button:nth-child(2){
    padding-left: 10px;
    font-size: 24px;
}

.form-btn{
    float: right;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.login, .join{
    width: 70px;
    height: 35px;
    border: none;
    font-size: 18px;
    background-color: #fff;
    color: gray;
    font-weight: bold;
}

.login:hover, .join:hover{
    transition: all 0.5s;
    color: black;
}

.line{
    width: 1.5px;
    height: 20px;
    background-color: gray;
    margin-top: 5px;
}

.content{
    position: relative;
    margin: 50px auto;
    width: 100%;
    height: 300px;
    background-color: rgb(228, 240, 250);
}

.textBox{
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
}

.textBox h5{
    padding-left: 10px;
}

section{
    width: 100%;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
}

footer p{
    padding-left: 20px;
    line-height: 49px;
}

.join_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 7px #444;
    display: none;
}

.join_form h3{
    text-align: center;
    padding: 15px;
}

.join_form p{
    text-align: center;
}

.join_form input[type='text'], input[type='password']{
    width: 345px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#input_id{
    width: 240px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.id_check{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #222;
    color: #FFF;
}

.join_form input[type='submit'], input[type='reset']{
    width: 100px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 5px;
}